:root {
    --base-front: lightseagreen;
    --base-back: rgb(21, 124, 119);
    --cell-back: rgb(33, 153, 147);
    --cell: #28241A;
    --cell-shadow: rgb(6, 49, 47);
    --bottom: yellow;
    --bottom-shadow: rgb(173, 173, 0);
}

.puft { display: none; }

.surpresinha {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    background-image: url(./table.jpg);
    background-size: cover;
    background-position: center;
}

.surpresinha::before {
    content: '';
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .97;
    transition: 1s ease;
}

.puft:checked ~ .surpresinha::before {
    opacity: 0;
}

.puft:not(:checked) ~ * .dancer,
.puft:not(:checked) ~ * .head,
.puft:not(:checked) ~ * .face::after ,
.puft:not(:checked) ~ * .arms::before,
.puft:not(:checked) ~ * .arms::after,
.puft:not(:checked) ~ * .torso,
.puft:not(:checked) ~ * .penguin .dancer,
.puft:not(:checked) ~ * .penguin .torso,
.puft:not(:checked) ~ * .penguin .arms::before,
.puft:not(:checked) ~ * .penguin .arms::after,
.puft:not(:checked) ~ * .penguin .head,
.puft:not(:checked) ~ * .penguin .eyes::before,
.puft:not(:checked) ~ * .penguin .eyes::after {
    animation: none !important;
}

.cordinha {
    display: block;
    cursor: pointer;
    position: fixed;
    z-index: 100;
    right: 90px;
    top: 0px;
    transition: .3s ease;
    outline: none;
    user-select: none;
}

@media(max-width: 480px) {
    .cordinha {
        right: 40px;
    }
}

.cordinha:hover {
    top: 10px;
}

.cordinha:active {
    top: 40px;
    outline: none;
}

.cordinha::before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 5px;
    height: 5px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 -6px #fff, 0 -12px #fff, 0 -18px #fff, 0 -24px #fff, 0 -30px #fff, 0 -36px #fff, 0 -42px #fff, 0 -48px #fff, 0 -54px #fff, 0 6px #fff, 0 12px #fff, 0 18px #fff, 0 24px #fff, 0 30px #fff, 0 36px #fff, 0 42px #fff, 0 48px #fff, 0 54px #fff, 0 60px #fff, 0 66px #fff, 0 72px #fff, 0 78px #fff, 0 84px #fff, 0 90px #fff, 0 96px #fff, 0 102px #fff, 0 108px #fff, 0 114px #fff, 0 120px #fff, 0 126px #fff, 0 132px #fff, 0 138px #fff, 0 144px #fff, 0 150px #fff, 0 156px #fff, 0 162px #fff, 0 168px #fff, 0 174px #fff, 0 180px #fff, 0 186px #fff, 0 192px #fff, 0 198px #fff, 0 204px #fff, 0 210px #fff, 0 216px #fff, 0 222px #fff, 0 228px #fff, 0 234px #fff, 0 240px #fff,0 246px #fff, 0 252px #fff, 0 258px #fff, 0 264px #fff, 0 270px #fff, 0 276px #fff, 0 282px #fff, 0 288px #fff, 0 294px #fff, 0 300px #fff, 0 306px #fff, 0 312px #fff,
    0 318px #fff;
}
.cordinha::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(236, 171, 31);
    margin-top: 316px;
}

.click {
    position: fixed;
    top: 180px;
    right: 100px;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    text-transform: uppercase;
    transform: rotate(-35deg);
    text-shadow: -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
}

.cordinha:not(:active) .click {
    display: none;
}

.dancers {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 320px;
}

.below-table {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 39%;
    overflow: hidden;
}
.cat {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 30%;
    width: 640px;
    height: 360px;
    animation: cat 18s linear infinite;
}
.cat img {
    position: absolute;
    top: 0;
    left: 0;
}
.cat img.shadow {
    top: 40px;
    transform: scaleY(.4);
    opacity: .6;
    filter: blur(2px) brightness(0);
}

@media(max-width: 600px) {
    .cat {
        left: 0;
    }
}

@keyframes cat {
    0%{
        transform: translate(-300px, 300px);
    }
    100% {
        transform: translate(500px, -500px);
    }
}

.solar-dancer {
    position: relative;
    width: 265px;
    height: 311px;
    transform-origin: 50% 0;
}
@media (max-width: 1080px) {
    .dancers {
        margin-bottom: 20px;
    }
    .solar-dancer {
        transform: scale(0.5);
    }
}

.solar-dancer::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background-image: url(./koala.jpg); */
    background-size: cover;
    background-position: center;
}

.base {
    width: 170px;
    height: 120px;
    position: absolute;
    z-index: 0;
    /* opacity: .8; */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.base::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 120px;
    height: 0;
    background-color: transparent;
    border-bottom: 100px solid var(--base-back);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}
.base::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 115px;
    height: 0;
    background-color: transparent;
    border-bottom: 80px solid var(--base-front);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    z-index: 0;
}

.cells {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%) rotateX(30deg);
    width: 120px;
    height: 50px;
    background-color: var(--cell-back);
    z-index: 1;
    border-radius: 15px;
}
.cells::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform-origin: 50%;
    transform: translateX(-50%) rotateX(-30deg);
    width: 100px;
    height: 30px;
    background-color: var(--cell);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: -1px -1px 1px var(--cell-shadow), 1px -1px 1px var(--cell-shadow);
}

.dancer {
    position: relative;
    z-index: 2;
    width: 100px;
    height: 240px;
    margin: 0 auto;
    animation: shake-bottom 1s linear infinite;
}

.head {
    position: absolute;
    z-index: 6;
    bottom: 95px;
    left: -15px;
    width: 130px;
    height: 110px;
    background-color: rgb(95, 95, 95);
    border-radius: 50%;
    box-shadow: 0 2px rgb(40, 40, 40);
    transform-origin: 50% 100%;
    animation: shake-head 1s linear infinite;
}
@keyframes shake-head {
    0% {
        transform: rotateZ(0deg);
    }
    33% {
        transform: rotateZ(-4deg);
    }
    66% {
        transform: rotateZ(4deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.hair {
    position: absolute;
    z-index: 8;
    top: -10px;
    left: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 15px 17px;
    border-color: transparent transparent rgb(80, 80, 80) transparent;
}
.hair::before,
.hair::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 8;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent rgb(80, 80, 80) transparent;
}
.hair::before {
    right: -20px;
    border-width: 0 2px 15px 20px;
    transform: rotateZ(20deg);
}
.hair::after {
    left: -20px;
    top: -5;
    border-width: 0 20px 20px 2px;
    transform: rotateZ(-20deg);
}

.ear.-left,
.ear.-right {
    position: absolute;
    z-index: 4;
    bottom: 80px;
    width: 60px;
    height: 50px;
    background-color: rgb(128, 128, 128);
    border-radius: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transform-origin: 50% 100%;
    box-shadow: 0px 2px rgb(80, 80, 80);
}
.ear.-left {
    right: 65%;
    transform: rotateZ(-55deg);
}
.ear.-right {
    left: 65%;
    transform: rotateZ(55deg);
}
.ear::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6px;
    width: 30px;
    height: 25px;
    background-color: rgb(255, 168, 190);
    border-radius: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transform-origin: 50% 100%;
}

.face {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    height: 45px;
    border-radius: 50%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
}

.face::before {
    content: '';
    display: block;
    position: absolute;
    left: -15px;
    top: -15px;
    width: 10px;
    height: 10px;
    background-color: rgb(27, 26, 26);
    box-shadow: 75px 0 rgb(27, 26, 26);
    border-radius: 50%;
}

.face::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    width: 20px;
    position: absolute;
    height: 12px;
    border-bottom: 3px solid pink;
    border-radius: 50%;
    background-color: transparent;
    z-index: 803;
    animation: smile 1.2s ease-out infinite;
}

@keyframes smile {
    0% { border-bottom-width: 3px; transform: translateX(-50%);}
    10% { border-bottom-width: 1px; }
    30% { border-bottom-width: 4px; transform: translateX(-48%); }
    60% { border-bottom-width: 6px;  transform: translateX(-52%)}
    100% { border-bottom-width: 3px; }
}

.nose {
    position: absolute;
    top: 5px;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transform: translateX(-50%);
    background-color: pink;
}

.dancer .body {
    position: absolute;
    z-index: 4;
    height: 220px;
    width: 100px;
    transform-origin: 50% 0;
}

.arms::before,
.arms::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 4;
    bottom: 90px;
    width: 20px;
    height: 50px;
    background-color: rgb(97, 96, 96);
    border-radius: 15px;
    transform-origin: 50% 100%;
}
.arms::before {
    right: 70%;
    transform: rotateZ(-120deg) rotateX(10deg);
    animation: shake-arm-left 1s linear infinite;
}
.arms::after {
    left: 70%;
    transform: rotateZ(70deg) rotateX(-20deg);
    animation: shake-arm-right 1s linear infinite;
}

@keyframes shake-arm-left {
    0% {
        transform: rotateZ(-120deg);
    }
    50% {
        transform: rotateZ(-60deg);
    }
    100% {
        transform: rotateZ(-120deg);
    }
}
@keyframes shake-arm-right {
    0% {
        transform: rotateZ(70deg);
    }
    50% {
        transform: rotateZ(130deg);
    }
    100% {
        transform: rotateZ(70deg);
    }
}

.torso {
    position: absolute;
    z-index: 5;
    bottom: 30px;
    left: 5px;
    width: 88px;
    height: 80px;
    animation: shake-torso 1s linear infinite;
}
.torso::before,
.torso::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
}
.torso::before {
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 30px solid rgb(202, 10, 10);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: transparent;
    background-color:  rgb(70, 70, 70);
}
.torso::after {
    bottom: 33px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 40px;
    background-color: #fff;
    filter: blur(.7px);
}

@keyframes shake-torso {
    0% {
        transform: rotateZ(0deg);
    }
    33% {
        transform: rotateZ(4deg);
    }
    66% {
        transform: rotateZ(-4deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}


.legs::before,
.legs::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 5px;
    height: 35px;
    width: 25px;
    background-color: rgb(90, 89, 89);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.legs::before {
    border-right: 2px solid rgb(51, 51, 51);
    right: 51%;
}
.legs::after {
    border-right: 2px solid rgb(51, 51, 51);
    left: 51%;
}

.dancer .bottom {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: -30px;
    background-color: var(--bottom);
    width: 160px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0px 3px var(--bottom-shadow), 0 3px 1px .5px #000;
}

.dancer .bottom::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 4;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--bottom-shadow);
}

@keyframes shake-bottom {
    0% {
        transform: translateX(0)
    }
    33% {
        transform: translateX(-1px)
    }
    66% {
        transform: translateX(1px)
    }
    100% {
        transform: translateX(0)
    }
}

/** Penguin */
.penguin {
    --base-back: rgb(107, 1, 1);
    --base-front: rgb(216, 19, 19);
    --cell-back: rgb(189, 32, 32);
    --bottom: #A3DCF4;
    --bottom-shadow: rgb(132, 186, 209);
}

.penguin .dancer {
    animation: shake-bottom 1s .3s linear infinite;
}

.penguin .bottom {
    left: -10px;
    width: 120px;
}
.penguin .bottom::before {
    top: 4px;
    height: 30px;
    border-radius: 50%;
}

.penguin .legs::before,
.penguin .legs::after {
    bottom: 0;
    height: 20px;
    width: 28px;
    background-color: #DCB704;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.penguin .legs::before {
    border-right: 2px solid rgb(92, 77, 0);
    right: 50%;
}
.penguin .legs::after {
    border-right: 2px solid rgb(92, 77, 0);
    left: 50%;
}

.penguin .torso {
    bottom: 10px;
    height: 100px;
    animation: shake-torso 1s .2s linear infinite;
}
.penguin .torso::before {
    height: 100px;
    border-bottom: none;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #1f2228;
}
.penguin .torso::after {
    bottom: 15px;
    width: 40px;
    height: 60px;
    filter: none;
}

.penguin .arms::before,
.penguin .arms::after {
    bottom: 70px;
    z-index: 7;
    width: 3px;
    height: 0;
    background: none;
    border-radius: 0;
    border-top: 30px solid #CAA686;
    border-bottom: 40px solid rgb(47, 51, 63);
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.penguin .arms::before {
    right: 65%;
    animation: shake-arm-left 1s .5s linear infinite;
}
.penguin .arms::after {
    left: 70%;
    transform: rotateZ(-120deg);
    animation: shake-arm-left 1s .2s linear infinite;
}


.penguin .head {
    bottom: 85px;
    left: -5px;
    width: 100px;
    height: 80px;
    background-color: #26292F;
    box-shadow: 0 2px rgb(55, 56, 59);
    animation: shake-head 1s .3s linear infinite;
}

.penguin .mask {
    position: absolute;
    z-index: 6;
    bottom: 5px;
    left: 50%;
    width: 80px;
    height: 60px;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
}
.penguin .mask::before,
.penguin .mask::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 5px;
    width: 55px;
    height: 60px;
    border-radius: 45%;
    background-color: #fff;
}
.penguin .mask::before {
    transform: translateX(0px) rotateZ(-30deg);
}
.penguin .mask::after {
    transform: translateX(25px) rotateZ(30deg);
}

.penguin .bill::before,
.penguin .bill::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 7;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    width: 0;
    border-top: 24px solid #F7CE10;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-radius: 30%;
}

.penguin .bill::before {
    bottom: -4px;
    border-top-color: rgb(179, 148, 11);
}

.penguin .eyes {
    position: relative;
    top: 15px;
    left: 15px;
    z-index: 7;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background: #000;
    box-shadow: 34px 0 #000;
}

.penguin .eyes::before,
.penguin .eyes::after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 5px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    animation: penguin-eyes 3s linear infinite;
}
.penguin .eyes::after {
    left: 39px;
    border-radius: 50%;
}
@keyframes penguin-eyes {
    0% {
        transform: translateX(0px);
    }
    33% {
        transform: translateX(-2px);
    }
    66% {
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0px);
    }
}

.penguin .hat {
    position: absolute;
    z-index: 9;
    top: -22px;
    left: 25px;
    width: 0;
    height: 0;
    border-bottom: 30px solid #C4261D;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-radius: 50%;
    transform: rotateZ(-6deg);
}
